<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.delaney.httpclient" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <permission
        android:name="com.delaney.httpclient.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.delaney.httpclient.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".registration.Registration1Activity"
            android:label="@string/title_activity_registration1"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".registration.Registration2Activity"
            android:label="@string/title_activity_registration2"
            android:parentActivityName=".registration.Registration1Activity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.delaney.httpclient.registration.Registration1Activity" />
        </activity>
        <activity
            android:name=".registration.Registration3Activity"
            android:label="@string/title_activity_registration3"
            android:parentActivityName=".registration.Registration2Activity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.delaney.httpclient.registration.Registration2Activity" />
        </activity>
        <activity
            android:name=".registration.Registration4Activity"
            android:label="@string/title_activity_registration4"
            android:parentActivityName=".registration.Registration3Activity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.delaney.httpclient.registration.Registration3Activity" />
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activities.FriendsActivity"
            android:label="@string/title_section2"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <!--<receiver-->
            <!--android:name=".StartOnBootReceiver"-->
            <!--android:enabled="true"-->
            <!--android:exported="true" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <receiver
            android:name=".receivers.GcmBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.delaney.httpclient" />
            </intent-filter>
        </receiver>

        <service
            android:name=".receivers.intentService.GcmIntentService"
            android:exported="false" >
        </service>

        <!-- <receiver -->
        <!-- android:name=".LocationReceiver" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="" /> -->
        <!-- <data android:scheme="geo" /> -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!--<service-->
            <!--android:name=".LocationIntentService"-->
            <!--android:exported="false" >-->
        <!--</service>-->

        <!--<receiver-->
            <!--android:name=".alarm.BootReceiver"-->
            <!--android:enabled="true"-->
            <!--android:exported="false" >-->
        <!--</receiver>-->

        <receiver android:name=".receivers.AlarmReceiver"
            android:enabled="true">
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED"/>
        </intent-filter>
        </receiver>

        <receiver android:name=".receivers.BootReceiver"
                  android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".receivers.intentService.AlarmIntentService" />
    </application>

</manifest>
